.button-items {
  margin-right: 30px;
}

.tab-btn {
  border: 1px solid #db1c48;
  color: #db1c48;
  border-radius: 15px;
  padding: 7px 15px 7px 15px;
  background-color: #ffffff;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}
.active-tab-btn {
  background-color: #db1c48;
  color: #ffffff;
}
